main{
  position: relative;
  width: 90vw;
  height: auto;
  margin:auto;
  display: flex;
  flex-direction: column;
}
.flex{
  display: flex !important;
}
.new_trip{
  right: 10%;
  border-radius: 10px;
  font-size: 18px;
  width: fit-content;
  align-self: flex-end;
}
#new_trip_overlay{
  position:absolute;
  width: 100vw;
  height: 100vh;
  top:0;
  left: 0;
  background-color: rgba(10, 10, 10, .6);
  display: none;
  .new_trip_overlay_input{
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 50vw;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    .input_bundle{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 25px 0px 25px 0px;
    }
  }
}
.trips{
  min-height: 50vh;
  width: 100%;
  background-color: green;
}
.trips-card{
  min-height: 40vh;
  width: 100%;
  background-color: red;
  margin-bottom: 15px;
  padding: 15px 0px 15px 0px;
  display: grid;
  text-align: center;
  grid-template-areas:
  "trip-photo"
  "trip-header"
  "trip-countdown"
  "trip-weather"
  "trip-buttons";
}
.trips-card-photo{
  grid-area: trip-photo;
  margin: auto;
  max-width: 50vw;
  height: auto;
}
.trips-card-header{
  grid-area: trip-header;
}
.trips-card-buttons{
  grid-area: trip-buttons;
}
.trip-card-countdown{
  grid-area: trip-cowntdown;
}
.trips-card-weather{
  grid-area: trip-weather;
}
