html{
}
body{
  margin:0;
  background-color: #fcffc8;
  font-family: 'Cambria', Georgia, serif;
}
main{
  position: relative;
  width: 90vw;
  height: auto;
  margin:auto;
  margin-top: 1.5vh;
  display: flex;
  flex-direction: column;
}
header{
  background-color: #C15E05;
  font-size: 28px;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.flex{
  display: flex !important;
}
.block{
  display: block !important
}
.hidden{
  display: none !important;
}
button{
  border-radius: 10px;
  border: 1px solid dimgrey;
}
.new_trip{
  right: 10%;
  font-size: 24px;
  width: fit-content;
  align-self: flex-end;
  background-color: #03844D;
  &:hover{
    background-color: #97f7ce;
    cursor: pointer;
  }
}
#new_trip_overlay{
  position:fixed;
  width: 100vw;
  height: 100vh;
  top:0;
  left: 0;
  background-color: rgba(10, 10, 10, .6);
  display: none;
  .new_trip_overlay_input{
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 75vw;
    background-color: #2B7756;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: 2.5px solid black;
    font-size: 18px;
    .input_bundle{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 25px 0px 25px 0px;
      input{
        font-size: 1em;
      }
    }
    .input_dates{
      width: fit-content;
      margin:auto;
    }
    input[type=submit]{
      border: 1px solid black;
      background-color: #C16706;
      border-radius: 5px;
      width: 65%;
      font-size: 1em;
      margin: auto;
      &:hover{
        background-color: #ffba6f;
        cursor: pointer;
      }
    }
    .overlay_new_loc{
      display:none;
    }
  }
}
.trips{
  margin-top: 1.5vh;
  min-height: 50vh;
  width: 100%;
}
.trips-container{
  border-radius: 10px;
  background-color: rgba(132, 122, 234, .41);
  padding-bottom: 10px;
  margin-bottom: 7px;
  .trips-container-buttons{
    text-align: center;
    button{
      background-color: #03844D;
      font-size: 18px;
    }
  }
}
.trips-card{
  min-height: 40vh;
  width: 100%;
  margin-bottom: 15px;
  padding: 15px 0px 15px 0px;
  display: grid;
  text-align: center;
  grid-template-areas:
  "trip-photo"
  "trip-header"
  "trip-countdown"
  "trip-weather"
  "trip-buttons";
  .remove-trip{
    button{
      background-color: maroon;
      color: white;
    }
  }
}
.trips-card-photo{
  grid-area: trip-photo;
  margin: auto;
  max-width: 50vw;
  height: auto;
  border-radius: 20px;
}
.trips-card-header{
  grid-area: trip-header;
}
.trip-card-countdown{
  grid-area: trip-countdown;
}
.trips-card-weather{
  grid-area: trip-weather;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  .trips-card-weather-header{
    width: 100%;
  }
  .trips-card-weather-item{
    height: fit-content;
    display: flex;
    flex-direction: column;
    img{
      width: 75px;
      height: auto;
    }
  }
}
.remove-trip{
  grid-area: trip-buttons;
}

@media  (min-width: 600px) and (max-width: 999px){
  #new_trip_overlay{
    .new_trip_overlay_input{
      width: 50vw;
    }
  }
  .trips-card-weather{
    .trips-card-weather-item{
      img{
        width: 100px;
        height: auto;
      }
    }
  }
}
@media  (min-width: 1000px){
  #new_trip_overlay{
    .new_trip_overlay_input{
      width: 35vw;
    }
  }
  .trips-card-weather{
    .trips-card-weather-item{
      img{
        width: auto;
        height: auto;
      }
    }
  }
}
